.main-page-container {
  min-height: 100vh;
  background-color: #141313;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
}

.header {
  padding: 15px 20px;
  background-color: #111010;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.groups-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.group-card {
  background-color: #161515;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.group-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.group-info {
  flex-grow: 1;
}

.action-buttons {
  display: flex;
}

.btn-outline-primary,
.btn-outline-warning,
.btn-outline-danger {
  border-width: 2px;
  padding: 0.25rem 0.5rem;
}

.btn-primary {
  padding: 0.5rem 1.5rem;
  font-weight: 500;
}

/* Responsivo */
@media (max-width: 768px) {
  app-sidebar1 {
    width: 100%;
    position: static;
    height: auto;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
  }

  .groups-container {
    grid-template-columns: 1fr;
  }
}
